<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>BOOK HOUSE</title>
</head>

<body>
  <!--Nav bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="{% static 'images/logo.jpg' %}" style="width: 50px; height: 40px;">&nbsp;&nbsp;
      <h5 class="navbar-brand" style="font-family: 'Poppins', sans-serif;font-weight: 700;font-size: 28px;">BOOK HOUSE</h5>>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
          </li>
      </div>
      <div class="mx-3">
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#signupModal">SignUp</button>
      </div>
    </div>
  </nav>

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login to Continue</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form" action="/accountapp/login" method="POST" onsubmit="return validation()">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInpute1" aria-describedby="emailHelp" name="email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputP1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--Signup Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">Signup to Continue</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/accountapp/signup" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">First Name</label>
              <input type="text" class="form-control" id="exampleInputPassword2" name="fname">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="exampleInputPassword2" name="lname">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Enter Password Again</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">SignUp</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!--Center area-->
<div class="center">
  <img src="{% static 'images/book.jpg' %}" height="660" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h1 style="color:white; font-size: 80px; margin-top: -570px; font-family: 'Neuton', serif;">WELCOME TO BOOK HOUSE</h1>
    <p style="color:orangered; font-size: 40px;line-height: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Get all Books for free</p>
    <p style="color:wheat; font-size: 40px; line-height:1;">OR</p>
    <p style="color:lime; font-size: 40px; line-height: normal;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Donate a Book, SHARE THE JOY OF READING </p>
    <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#dsignupModal"> Signup to Donate</button>
    <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#dloginModal"> Login to Donate</button>
    <p style="color: darkgrey;">Use these buttons if you are donator</p>
    <p style="color: red;font-size: 30px;">{{message}}</p>
  </div>
</div>

    <!--carousel area
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/book2.jpeg' %}" height="660" class="d-block w-100" alt="..." style="opacity: 0.5;">
        <div class="carousel-caption d-none d-md-block">
          <h1 style="color:darkgreen; font-size: 80px; margin-top: -380px">WELCOME TO BOOK HOUSE</h1>
          <p style="color:blueviolet; font-size: 40px;">Get all Books for free</p>
          <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#dsignupModal">Donator Signup</button>
          <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#dloginModal">Donator Login</button>
          <p style="color: red;">{{message}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/book1.jpeg' %}" height="660" class="d-block w-100" alt="..." style="opacity: 0.5;">
        <div class="carousel-caption d-none d-md-block">
          <h1 style="color:blue; font-size: 80px; margin-top: -380px;">WELCOME TO BOOK HOUSE</h1>
          <p style="color:blueviolet; font-size: 40px;">Help Someone! Donate your Books</p>
          <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#dsignupModal">Donator Signup</button>
          <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#dloginModal">Donator Login</button>
          <p style="color: red;">{{message}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>-->

    <!--Donator Login Modal -->
    <div class="modal fade" id="dloginModal" tabindex="-1" aria-labelledby="dloginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dloginModalLabel">Login to Continue</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/donatorapp/login" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
              </div>
              <button type="submit" class="btn btn-primary" style="text-align: center;">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--Donator Signup Modal -->
    <div class="modal fade" id="dsignupModal" tabindex="-1" aria-labelledby="dsignupModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dsignupModalLabel">Signup to Continue</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/donatorapp/signup" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">First Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="fname">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="lname">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">City</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="city">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="email">
                <div id="emailHelp" class="form-text">People will reach out to you on this Email.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Enter Password Again</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary">SignUp</button>
            </form>
          </div>
        </div>
      </div>
    </div>
     <!-- Javascript fire link -->
     <script src="{% static 'javascript/script.js' %}"></script>
    <!-- JavaScript
  <script src="../../static/Javascript/script.js"></script>-->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>